// variable
$color:#0bceaf;

.navbar-light .navbar-nav #nav_link:hover{
    color:$color ;
    text-decoration: none;
}
#nav_link:hover{
    color: $color;
    text-decoration: none;
}

/*===================================
     HOME PAGE STYLE  
=====================================*/     
%format_text{
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "roboto", sans-serif;
}


#profil_text{
    
}
#profil_image{
    
}

.section_marg{
    margin-top: 50px;
    padding-top: 50px;
}

.greet{
    background-color: $color;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

#namm_author{
    @extend %format_text;
    font-size: 60px;
    
}
#status{
    @extend %format_text;
    font-size: 30px;
}
.description{
    font-family: "roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

